.card{
    
    width: 100vw;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 16px;
    justify-content: center;
    padding: 2em;
    display: grid;
    background-color: rgba(0,0,0,0.2);
    overflow: auto;
    overflow-x:hidden;
}

*,::after,::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'poppins', sans-serif;
    font-size: 62.5%;
}
body{
    
    background-color: rgba(0,0,0,0.8);
    color: rgba(241,239,239,.9)
}
.container{
    height: 100vh;
    width: 70vw;
    margin: 2rem auto;
   
}
.container h2{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.3rem;
  
}

.formulario-datos{
    width: 50%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column; 
    
}
.formulario-datos input{
    margin: 1rem 0rem;
    line-height: 5rem;
    background: none;
    outline: 0;
    border-top:0;
    border-left: 0;
    border-right: 0;
    color: white;

}
.formulario-datos ::placeholder{
    font-weight: 600;
}

.input-incorrecto{
    border-color: red;
}
.input-correcto{
    border-color: green;
}

.formulario-datos input:active{
    border-bottom: 1px solid green;
}
.formulario-datos input:focus{
    border-bottom: 1px solid green;
}
.formulario-datos button{
    margin: 1rem 0rem;
    background-color: rgb(6, 168, 60);
    border: 0;
    outline: 0;
    height: 5.1rem;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;   
}

.listado-tareas{
    display: flex;
    flex-direction: column;
}
.listado-tareas h4{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.8rem;
}
.tarea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
    height: 4rem;
    margin-top: 25px;
}

.icon{
    color: red;
    cursor: pointer;
}

.mensajeVacio{
    margin-top: 10px;
    border-radius: 10px;
    justify-content: center;
    padding: 0.5em;
    display: grid;
    font-size: 2em;
    background-color: firebrick;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert{
    position: relative;
    padding: 0.8rem 4.2rem;
    margin-bottom: 1rem;
    width: 20em;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    display: none;
    left:21%
}